.DS_Store
Thumbs.db

.vs/

build/
legacy/
output/

dist/bin/Debug/*.exe
dist/bin/Debug/*.pdb
dist/bin/Debug/*.dll
dist/bin/Debug/editor/tools/LDtk
dist/bin/Debug/editor/tools/bfxr
dist/bin/Debug/export
dist/bin/Debug/logs

dist/bin/Release/*.exe
dist/bin/Release/*.pdb
dist/bin/Release/*.dll
dist/bin/Release/editor/tools/LDtk
dist/bin/Release/editor/tools/bfxr
dist/bin/Release/export
dist/bin/Release/logs

supercluster/bin/Debug/*.exe
supercluster/bin/Debug/*.pdb
supercluster/bin/Debug/*.dll
supercluster/bin/Debug/editor/tools/LDtk
supercluster/bin/Debug/editor/tools/bfxr
supercluster/bin/Debug/export
supercluster/bin/Debug/logs

supercluster/bin/Release/*.exe
supercluster/bin/Release/*.pdb
supercluster/bin/Release/*.dll
supercluster/bin/Release/editor/tools/LDtk
supercluster/bin/Release/editor/tools/bfxr
supercluster/bin/Release/export
supercluster/bin/Release/logs
