[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/subprocess"]
	path = lib/subprocess
	url = https://github.com/sheredom/subprocess.h.git
[submodule "lib/sol3"]
	path = lib/sol3
	url = https://github.com/ThePhD/sol2.git
[submodule "lib/pfd"]
	path = lib/pfd
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "lib/magic_enum"]
	path = lib/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/unordered_dense"]
	path = lib/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "lib/zlibcomplete"]
	path = lib/zlibcomplete
	url = https://github.com/rudi-cilibrasi/zlibcomplete
[submodule "lib/zlib_ng"]
	path = lib/zlib_ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/rmlui"]
	path = lib/rmlui
	url = https://github.com/mikke89/RmlUi.git
[submodule "lib/msdfgen"]
	path = lib/msdfgen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "lib/freetype2_win"]
	path = lib/freetype2_win
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
[submodule "lib/box2d"]
	path = lib/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "lib/openal"]
	path = lib/openal
	url = https://github.com/kcat/openal-soft.git
