[submodule "deps/sol3"]
	path = deps/sol3
	url = https://github.com/ThePhD/sol2.git
[submodule "deps/magic_enum"]
	path = deps/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
[submodule "deps/threadpool"]
	path = deps/threadpool
	url = https://github.com/bshoshany/thread-pool.git
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc.git
[submodule "deps/zip"]
	path = deps/zip
	url = https://github.com/kuba--/zip.git
[submodule "deps/box2d"]
	path = deps/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "deps/physfs"]
	path = deps/physfs
	url = https://github.com/icculus/physfs.git
[submodule "deps/entt"]
	path = deps/entt
	url = https://github.com/skypjack/entt.git
[submodule "deps/dense"]
	path = deps/dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "lib/SFML"]
	path = lib/SFML
	url = https://github.com/SFML/SFML.git
