# Mac OS stuff
.DS_Store

# Visual Studio stuff
*.sdf
*.VC.db
.vs/

# XCode stuff
DerivedData/

# Project stuff
REngine3/bin/
REngine3/build/
Sandbox/bin/
Sandbox/build/

# dont ask
makemygamebasedonmyverdisdreamcharormybook.txt