<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleAllowMixedLocalizations</key>
        <true/>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.6</string>
        <key>LSRequiresCarbon</key>
        <true/>
        <key>CFBundleIdentifier</key>
        <string>com.increpare.bfxr</string>
        <key>CFBundleGetInfoString</key>
        <string>1.4.1,</string>
        <key>CFBundleShortVersionString</key>
        <string>1.4.1</string>
        <key>NSHumanReadableCopyright</key>
        <string/>
        <key>CFBundleExecutable</key>
        <string>Bfxr</string>
        <key>CFBundleIconFile</key>
        <string>Icon.icns</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>bfxrsound</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/plain</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>BfxrSound</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleTypeIconFile</key>
                <string>DocumentIcon1.icns</string>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>bfxrlibrary</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>text/plain</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>BfxrLibrary</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleTypeIconFile</key>
                <string>DocumentIcon2.icns</string>
            </dict>
        </array>
    </dict>
</plist>
